.grid-container {
    display: grid;
    height: 500px;
    width: 500px;
    margin: auto;
    grid-template-columns: 1fr repeat(15, 1fr);
    grid-template-rows: 1fr repeat(15, 1fr);
}

.grid-item {
    color: black;
}

.transitioned {
    transition-delay: 2s;
    transition-duration: 1s;
}